{# src/Mailing/MailingBundle/Resources/views/Inventory/add.html.twig #}
{% extends 'MailingBundle::layout.html.twig' %}

{% block title %}Add inventory{% endblock%}
{% block headline %}Add inventory{% endblock%}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
            {{ flashMessage }}
    </div>
    {% endfor %}
    <form action="{{ path('MailingBundle_inventory_add') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
{% endblock %}