<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}SuperKancelář{% endblock %} - MailGun Newsletter</title>
        <link href="{{ asset('bundles/Mailing/css/screen.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="wrapper">
            <div id="header">
                {% block header %}
                {% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                {% block footer %}
                    
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>